<table>
	<tr>
		<td>
			<br />
			<a routerLink="/home" routerLinkActive="active">Home</a> <a routerLink="/createplaylist" routerLinkActive="active" style="margin-left:10px;">Create a Playlist</a>
			<br />
			<br />
		</td>
	</tr>
	<ng-container *ngFor="let playlist of playlists; let i = index">
		<tr>
			<td>
				<div class="listContent">
					<button class="accordion"
						(click)="accordionclick($event)">&nbsp;{{playlist.playlistname}}&nbsp;</button>
					<div class="panel">
						<ng-container *ngFor="let playlistvideo of playlist.videos">
							<br />
							<a [routerLink]="['/playlistvideo']"
								[queryParams]="{ video: playlistvideo, playlistid: playlist._id }"
								routerLinkActive="active">{{playlistvideo}}</a>
							<br />
						</ng-container>
						<br />
					</div>
				</div>
			</td>
		</tr>
	</ng-container>
</table>